  <% if ( bootstrap_version === 4) { %>

    <nav class="navbar navbar-expand-sm navbar-dark fixed-top ">
        <!-- Brand -->
        <a class="navbar-brand BilkFang" href="/home">The Serlings</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item <%= active ==='HOME'? 'active' : ''%>">
              <a class="nav-link" href="/home">HOME</a>
            </li>
            <li class="nav-item <%= active ==='SHOWS'? 'active' : ''%>">
              <a class="nav-link" href="/shows">SHOWS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.youtube.com/channel/UCbuDz2kSMCLDup-UH5zlzeQ" target='_blank'>VIDEOS</a>
            </li> 
            <li class="nav-item <%= active ==='CONTACT'? 'active' : ''%>">
                <a class="nav-link" href="/contact">CONTACT</a>
            </li> 
          </ul>
        </div> 
      </nav>

<% } else { %>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand BilkFang" href="/home">The Serlings</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="<%= active ==='HOME'? 'active' : ''%>"><a href="/home">HOME</a></li>
          <!-- <li class="<%= active ==='BAND'? 'active' : ''%>"><a href="/band">BAND</a></li> -->
          <li class="<%= active ==='SHOWS'? 'active' : ''%>"><a href="/shows">SHOWS</a></li>
          <li><a href="https://www.youtube.com/channel/UCbuDz2kSMCLDup-UH5zlzeQ" target='_blank' >VIDEOS</a></li>
          <li class="<%= active ==='CONTACT'? 'active' : ''%>"><a href="/contact">CONTACT</a></li>
          <!-- <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Merchandise</a></li>
              <li><a href="#">Extras</a></li>
              <li><a href="#">Media</a></li> 
            </ul>
          </li>
          <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li> -->
        </ul>
      </div>
    </div>
  </nav>
<% } %>
